<%if current_user %>
<div class="topnav">
   <%= link_to "Home", posts_path, class: "active" %>
       <%= link_to "People", users_path %>
    <%= link_to "Profile", user_path(current_user) %>
    <%= render 'layouts/notifications' %>
</div>

<%end%>